<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>Mood Diary</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- styles -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

    

    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" sizes="32x32" type="image/png">

    <link rel="stylesheet" href="{{ url_for('static', filename='./css/custom.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='./css/bootstrap.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='./font/css/font-awesome.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='./css/aos.css') }}">

    <script>
      function show(elementID) {
        var ele = document.getElementById(elementID);
        if (!ele) {
            alert("no such element");
            return;
        }
        var pages = document.getElementsByClassName('page');
        for(var i = 0; i < pages.length; i++) {
            pages[i].style.display = 'none';
      }
    ele.style.display = 'block';
}
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>

  <body>
    <div class="jumbotron jumbotron-fluid" id="banner" style="">
    
      <div class="container text-center text-md-left">
        <header>
          <div class="row justify-content-between">
            <div class="col-2">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo">
            </div>
            <div class="col-6 align-self-center text-right">
            <a href="#" style="text-decoration: none;">LOG IN</a>
            </div>
          </div>
        </header>
        <div data-aos="fade-down" data-aos-duration="500">
          <h1 class="display-3 font-weight-bold my-5 text-center" style="padding-top: 20px;">
            How Do You Feel?
          </h1>
          <p class="lead my-4 text-center">
            Record your mood and your day. Learn about your emotions. 
          </p>
        </div>
      </div>

    <div class="container text-md-left" style="display: flex; justify-content: center; padding-top: 40px;">
      <div style="float: left; width: 40%; padding: 20px; max-height: 220px; max-width: 220px;" >
        <a href="/journal0" style="text-decoration: none; color: black;">
          <img src="{{ url_for('static', filename='img/angry.png') }}"/>
          <div style="text-align: center; font-family:verdana; padding-top: 10px;">
            Angry
          </div>
        </a>
      </div>
      <div style="float: left; width: 40%; padding: 20px; max-height: 220px; max-width: 220px;" >
        <a href="/journal1" style="text-decoration: none; color: black;">
          <img src="{{ url_for('static', filename='img/thinking.png') }}"/>
          <div style="text-align: center; font-family:verdana; padding-top: 10px;">
            Mixed
          </div>
        </a>
      </div>
      <div style="float: left; width: 40%; padding: 20px; max-height: 220px; max-width: 220px;" >
        <a href="/journal2" style="text-decoration: none; color: black;">
          <img src="{{ url_for('static', filename='img/poker-face.png') }}"/>
          <div style="text-align: center; font-family:verdana; padding-top: 10px;">
            Meh
          </div>
        </a>
      </div>
      <div style="float: left; width: 40%; padding: 20px; max-height: 220px; max-width: 220px;" >
        <a href="/journal3" style="text-decoration: none; color: black;">
          <img src="{{ url_for('static', filename='img/laughing.png') }}"/>
          <div style="text-align: center; font-family:verdana; padding-top: 10px;">
            Laughing
          </div>
        </a>
      </div>
      <div style="float: left; width: 40%; padding: 20px; max-height: 220px; max-width: 220px;" >
        <a href="/journal4" style="text-decoration: none; color: black;">
          <img src="{{ url_for('static', filename='img/logo.png') }}"/>
          <div style="text-align: center; font-family:verdana; padding-top: 10px;">
            Lovely
          </div>
        </a>
      </div>
    </div>

    <div class="container text-md-left" style="display: flex; justify-content: center; padding-top: 40px;">
      <div style="float: left; width: 40%; padding: 20px; max-height: 220px; max-width: 205px;" >
        <a href="/journal" class="btn my-4 font-weight-bold atlas-cta cta-green" style="display: flex;" >Mood Journal</a>
      </div>
      <div style="float: left; width: 40%; padding: 20px; max-height: 220px; max-width: 205px;" >
        <a href="#" class="btn my-4 font-weight-bold atlas-cta cta-green" style="display: flex;" >Record Mood</a>
      </div>
      <div style="float: left; width: 40%; padding: 20px; max-height: 220px; max-width: 205px;" >
        <a href="/analytics" class="btn my-4 font-weight-bold atlas-cta cta-green" style="display: flex;" >Analyze Stats</a>
      </div>
    </div>

    </div>
    </div>
    

      <!-- <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="pill" href="#">Mood Diary</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#">Entries</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="pill" href="#">Stats</a>
        </li>
      </ul> -->
    
  
      <div class="jumbotron jumbotron-fluid" id="contact">
      <div data-aos="fade-up" data-aos-duration="500" class="container my-5">
      <div class="row justify-content-between">
      <div class="col-md-6">
      <h2 class="font-weight-bold">Contact A Professional</h2>
      <p class="my-4">
      Lorem ipsum dolor sit amet, id nec enim autem oblique
      <br> augue disputando in vim. Erat fugit sit at, ius lorem.
      </p>
      <ul class="list-unstyled">
      <li>Email : email here</li>
      <li>Phone : 1111-111-111</li>
      <li>Address : Lorem ipsum dolor sit amet, id nec enim autem oblique</li>
      </ul>
      </div>
      <div class="col-md-6">
      <form action="/" method="POST">
      <div class="row">
      <div class="form-group col-md-6">
      <label for="name">Your Name</label>
      <input type="name" class="form-control" id="name" name="name">
      </div>
      <div class="form-group col-md-6">
      <label for="Email">Your Email</label>
      <input type="email" class="form-control" id="Email" name="email">
      </div>
      </div>
      <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" id="message" rows="3" name="message"></textarea>
      </div>
      <button type="submit" class="btn font-weight-bold atlas-cta atlas-cta-wide cta-green my-3">Submit</button>
      </form>
      </div>
      </div>
      </div>
      </div>
      <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
      <script>$( document ).ready(function() {
        AOS.init({
        easing: 'ease-in-quad',
        });
        }); </script>
  </body>
</html>
